.formulario {
  text-align: center;
  width: 100%;
  height: 100vh;
  margin: 0;
  background-image: url(imagenes/parking1.jpg);
}
.form1 {
  padding-top: 175px;
}
.form-control {
  width: 300px;
  text-align: center;
  margin: auto;
  font-family: helvetica;
}
.new {
  position: relative;
}
.divusernew {
  padding-top: 50px;
}
.newuser {
  text-align: center;
  text-decoration: none;
  color: #fff;
  position: relative;
  font-weight: bold;
}
.newpass {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}
