.cuerpo {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
}
.header {
  flex: 1;
  background: rgb(78, 77, 77);
  display: flex;
}
.mapa {
  flex: 7;
  background: rgb(250, 249, 249);
}
.titulo1 {
  text-align: center;
  color: #fff633;
  margin: auto;
}
#map {
  width: 100%;
  height: 100%;
}
